#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modalfooterbutton {
  width: 390px;
  border-radius: 50px;
  padding: 10px;
}

.bar {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.mob-div {
  font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.mob-div h1 {
  font-size: 90px;
}
.nav-btn-one {
  margin-left: 10px;
  height: 50px;
}
.nav-button {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.header {
  background-image: linear-gradient(45deg, #2937f0, #9f1ae2);
}
.bar {
  padding-left: 75px;
  color: black;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.get {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.joke {
  padding-right: 75px;
}
.joke li a {
  color: black;
}
.circle {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(45deg, #2937f0, #9f1ae2);
  border-radius: 50%;
  /* margin-top: 65px;
  margin-left: 58px;
  margin-right: 58px; */
}
.pic {
  display: flex;
  justify-content: center;
}
.picimg {
  padding-top: 30px;
  width: 250px;
}
.div2 {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
}

.pictext {
  font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.picres {
  opacity: 0.5;
}

.text-gradient {
  background: -webkit-linear-gradient(#2937f0, #9f1ae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 78px;
}
.piclose {
  padding-left: 220px;
  /* padding-bottom: px; */
  margin-top: -80px;
}
.footer {
  background-color: black;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.boxpic {
  font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  color: gray;
}
.boximg {
  width: 80%;
}
.cta {
  position: relative;
  padding: 15rem 0;
  background-image: url(img/pic2.jpg);
  background-position: center;
  background-size: cover;
  /* background-color: black; */
  /* opacity: 0.5; */
}
section.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 320) {
  .bar {
    padding-left: 0;
  }
  .joke {
    padding-right: 0;
  }

  .circle {
    display: none;
  }
  .picimg {
    width: 150px;
  }
  .modalfooterbutton {
    width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .bar {
    padding-left: 0;
  }
  .piclose {
    padding-left: 20px;
    margin-top: -80px;
  }
  .joke {
    padding-right: 0;
  }
  .opan {
    padding-left: 104px;
  }
}